$primary-color-dark:   #303F9F;
$primary-color:        rgb(255, 145, 0);
$primary-color-light:  #ffff;
$pr-color: '3f51b5';  
$primary-color-text:   #343a40;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;



body {
    
    margin-top: 30px;
      //фикс контеинера
    .container {
        padding: 0;
    }
     margin-bottom: 200px;
     //Кнопки 

     

     .btn-sc {
        border: 6px solid rgb(54, 179, 211);
        background-color: rgb(54, 179, 211);
        color: white;
        font-weight: bold;
        border-radius:  20px;
        font-size: 18px;
        padding: 3px 90px;
        transition: all 0.2s;
        &:hover {
            background-color: rgb(50, 154, 180);
            color: white; 
            border: 6px solid rgb(50, 154, 180);
        }
        margin-top: 60px;
        margin-right: 20px;
    }

    .btn-inverse {
        border: 6px solid black;
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius:  2px;
        font-size: 13px;
        padding: 3px 6px;
        transition: all 0.2s;
        
    }

    
    header {

          
    }

    .link1 {
        margin-right: 50px;
        margin-top: -80px;
        a {
            text-decoration: underline;
            color: rgba(0, 0, 0, 0.822);
            &:hover {
                color: black;
            }
        }
    }

    .nomer {
        margin-top: -90px;
        
    }



    .lesson {
        margin: 2.5px;
    }
    
    .acc {
        margin: 5.5px;
    }

    .number {

        a {
            text-decoration: none;
        }
        h5 {
            color: black;
            font-weight: bold;
            
        }
        p {
            font-size: 13px;
            margin-top: -8px;
        }
    }



footer {

    margin-top: 50px;
    form {
        input {
            width: 100%;
            padding: 1rem;
            background-color: transparent;
            border: 1px solid rgba(71, 71, 71, 0.521);
            border-radius: 0.5rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;  
            color:black;   
          
        }
        .btn-ot {
            border: 10px solid rgb(37, 179, 96);
            background-color: rgb(37, 179, 96);
            color: white;
            font-weight: bold;
            border-radius:  2px;
            font-size: 14px;
            width: 100%;
            transition: all 0.2s;
            &:hover {
                background-color: rgb(34, 143, 80);
                color: white; 
                border: 10px solid rgb(34, 143, 80);
            }
        }
        
       }

       .info {
        color: rgba(0, 0, 0, 0.397);
    }

    .modal-dialog {
        margin-top: 200px;
    }   
   
    .pos {
        position: relative;
        margin-top: 50px;

    }

    .school {
        position: absolute;
        color: white;
        margin-top: 170px;
        h1 {
            font-size: 90px;
            font-weight: bold;
        }
        p {
            font-size: 28px;
        }
    }
    .imgmin {
        display:none;
    }
}
}



@media screen and (max-width:767px) {
   
  
  .panda {
        margin-bottom: 50px;
        text-align: center;
        margin-left: 20px;
  } 
  .link1 {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 100px;
  }
  
  body footer .school {
      margin-top: 20px;
      h1 {
          font-size: 70px;
        
      }

  }

  body footer .btn-sc {
      
  }

  footer {
    .imgmax {
        display: none;
    }
  } 

  body footer .imgmin {
      display: block;
  }
  body {
      margin-bottom: 0px;
  }
}

